<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MVC_EduScanner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_EduScanner.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />

</head>


<body>
    <div class="w-screen min-h-screen flex justify-center">
        <div class="max-w-[1440px] space-y-4  flex flex-col items-start p-4 h-full ">
            <header
                class="w-full flex items-center font-bold text-2xl h-[48px] bg-[#E2E2E2] rounded-2xl  px-4 justify-between">
                <span>EduScanner</span>
                <div class="w-fit h-fit flex gap-2 items-center justify-center">
                    <button class="button-xs">
                        <img src="~/images/refreshIcon.svg" alt="odśwież">
                    </button>
                    <button class="button-xs ">
                        <img src="~/images/infoIcon.svg" alt="info">
                    </button>
                </div>
            </header>
            <div>
                <main role="main">
                    @RenderBody()
                </main>
            </div>


        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
