@{
    ViewData["Title"] = "Home Page";
}


<div class="flex flex-wrap justify-center items-center bg-[#E2E2E2] rounded-3xl gap-2 shadow-2xl py-[50px]">
    @for (int i = 0; i < 520; i++)
    {
        <div class="w-[200px] h-[150px] rounded-xl flex flex-col justify-center items-center bg-[#cacaca] ">
            <span class="text-xs font-semibold">prowadzący</span>
            <span class="font-bold">Imie nazwisko</span>


            <span class="text-xs font-semibold">przedmiot</span>
            <span class="font-bold">Nazwa przedmiotu</span>
            <span class="font-bold">rodzaj przedmiotu</span>


        </div>
    }
</div>
