@{
    ViewData["Title"] = "Home Page";
}

@model List<(string Link, string Name)>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
	<h2>Links:</h2>
	@if (Model != null && Model.Count > 0)
	{
		<ul>
			@foreach (var result in Model)
			{
				<li><a href="https://plany.ubb.edu.pl/@result.Link">@result.Name</a></li>
			}
		</ul>
	}
	else
	{
		<p>Link not fined</p>
	}
</div>





