@{
    ViewData["Title"] = "Info";
}


<div class="w-full flex flex-col gap-10 p-12">
    <span class="max-w-[750px] ">
        Strona służąca do scrapowania planów UBB, umożliwiająca użytkownikom łatwe i szybkie wyświetlanie wszystkich
        przedmiotów i prowadzących.

    </span>

    <span class="">
        <h5>Autorzy:</h5>
        <ul>
            <li>Vladyslav Tarasov</li>
            <li>Łukasz Błażkiewicz</li>
            <li>Krzysztof Babik</li>

        </ul>
    </span>
</div>
